<span class="self-center ml-2 rtl:ml-0 rtl:mr-2 text-2xl md:text-xl font-bold text-gray-900 whitespace-nowrap dark:text-white">
  <!-- Light mode logo -->
  <img src="/croatian-wood-co-logo.png" alt="Croatian Wood Co Logo" class="h-20 w-auto inline-block mr-2 dark:hidden" />
  <!-- 🌲 {SITE?.name} -->
  <!-- Dark mode logo -->
  <img src="/croatian-wood-co-logo-dark.png" alt="Croatian Wood Co Logo Dark" class="h-20 w-auto inline-block mr-2 hidden dark:inline-block" />
</span>
